<% provide(:title, 'About') %>
<h1>About</h1>
<p>This is a kinda 'simple' Twitter clone. But it works! *fingers crossed*. I have written this just to learn some web development using Ruby on Rails.</p>

<p>I don't know if I'll ever develop any apps for myself (most likely yes), but this has been an interesting challenge.</p> 
